# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual Environment
venv/
env/
.venv/

# Django
db.sqlite3
*.sqlite3
*.db
media/
staticfiles/
*.pot
*.pyc

# Environment Variables
.env
.env.*
*.env

# Logs
*.log

# IDEs
.vscode/
.idea/

# Byte-compiled / optimized / DLL files
*.so
*.dylib

test_api.html
